body {
    font-family: 'DecimaMono-Light', monospace;
    background-color: #96C5FD;
    color: rgb(0, 0, 0);
}

#headLine {
    text-align: center;
    size: 15px;
}

.image1 {
    text-align: center;
    height: 470px;
    width: 500px;
}

#table {
    text-align: center;
}

#tableHead {
    background-color: rgb(231, 163, 61);
}

#numberSection {
    background-color: rgba(7, 176, 255, 0.534);
}

.btn {
    color: rgb(105, 62, 5);
}

#heading2_3 {
    color: rgb(202, 101, 7);
}

#movingMarquee {
    color: rgb(202, 101, 7);
}

mark {
    background-color: rgb(231, 163, 61);
}

#progressArea {
    background: rgba(7, 176, 255, 0.534);
}